<!DOCTYPE html>
<html lang="en">
<head>

    <title>Master Chief v0.1</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">

    <link rel="stylesheet" href="css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/ui-grid.css" />
    <link rel="stylesheet" href="css/grid.css" />
    <link rel="stylesheet" href="css/ng-foobar.css" />
    <link rel="stylesheet" href="css/angular-chart.css" />

	<style type="text/css">
		[ng\:cloak], [ng-cloak], .ng-cloak {
			display: none !important;
		}
	</style>
</head>

<body ng-app="app" ng-controller="DashController">
<header>

    <div class="container"><a href="#" data-activates="nav-mobile" class="button-collapse top-nav" data-sidenav="left" data-closeonclick="false"><i
            class="mdi-navigation-menu"></i></a></div>
    <ul id="nav-mobile" class="side-nav fixed">

        <li class="logo" style="margin-left: -15px;"><a id="logo-container" href="#" class="brand-logo"><img src="image/im.jpg" style="position:absolute;left:0px;top:0px;" height="120px" width="100%"></a></li>

        <li class="bold" ng-click="direciona('home')"><a href="#" class="waves-effect waves-deep-purple darken-4">Home</a></li>

         <li class="bold" ng-click="direciona('pedido')"><a href="#" class="waves-effect waves-deep-purple darken-4">Pedido</a></li>

         <li class="bold" ng-click="direciona('fornecedor')"><a href="#" class="waves-effect waves-deep-purple darken-4">Fornecedores</a></li>

         <li class="bold" ng-click="direciona('grafico')"><a href="#" class="waves-effect waves-deep-purple darken-4">Gráficos</a></li>

         <li class="no-padding">
            <ul class="collapsible collapsible-accordion">
                <li class="bold"><a class="collapsible-header waves-effect waves-deep-purple darken-3 active">Cadastros</a>
                    <div class="collapsible-body">
                        <ul>
                            <li><a href="" ng-click="direciona('mercadoria')">Mercadorias</a></li>
                            <li><a href="" ng-click="direciona('categoria')">Categorias</a></li>
                            <li><a href="" ng-click="direciona('unidade')">Unidades</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
         </li>

         <li class="bold" ng-click="direciona('sobre')"><a href="#" class="waves-effect waves-blue">Sobre</a></li>

    </ul>

</header>
<main>

    <div class="section" id="index-banner" ng-cloak>
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <h1 class="header center-on-small-only"><a href="https://github.com/kresCruz/angular-materialize" style="color:white;">Master Chief</a></h1>
                    <p style="color: white;" class="center-on-small-only" ng-controller="TempoController">Foz do Iguaçu {{tempo.temperatura}}°C <img ng-src="{{tempo.icon}}" width="30px" alt="tempo" /></p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">

    <div ui-view></div>

    </div>
</main>


<script src="js/jquery.min.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/angular-animate.js"></script>
<script src="js/angular-ui-router.min.js"></script>
<script src="js/materialize.min.js"></script>
<script src="js/angular-materialize.js"></script>
<script src="js/ui-grid.js"></script>
<script src="js/ng-foobar.js"></script>

<script src="js/chart.min.js"></script>
<script src="js/angular-chart.js"></script>

<script src="js/ng-foobar.js"></script>

<script src="app/app.js"></script>
<script src="app/config/config.js"></script>

<script src="app/dashboard/dashboard-controller.js"></script>

<script src="app/categoria/categoria-controller.js"></script>
<script src="app/categoria/categoria-service.js"></script>

<script src="app/mercadoria/mercadoria-controller.js"></script>
<script src="app/mercadoria/mercadoria-service.js"></script>

<script src="app/unidade/unidade-controller.js"></script>
<script src="app/unidade/unidade-service.js"></script>

<script src="app/fornecedor/fornecedor-controller.js"></script>
<script src="app/fornecedor/fornecedor-service.js"></script>

<script src="app/pedido/pedido-controller.js"></script>
<script src="app/pedido/pedido-service.js"></script>

<script src="app/grafico/grafico-controller.js"></script>

<script src="app/tempo/tempo-controller.js"></script>

</body>
</html>
