<div class="modal-header" >
     
  		 <h5><span class="glyphicon glyphicon-user" aria-hidden="true "></span> Retenci&oacuten Virtual</h5><hr>
  		
     </div>
     <div class="modal-body">
     
            <form ng-submit="login()">
                
               <div class=form-group> 
                    <input type=text class="form-control input-underline" placeholder="Nombre" ng-model="user.login" required > 
                    <span>Informe el nombre</span>
               </div>
                
               <div class=form-group> 
                    <input type=password class="form-control input-underline" placeholder="Contrasena" ng-model="user.senha" required> 
                    <span>Infome la contrase&ntildea</span>
               </div>
                
            </div>

         </form>

     
     
     
     </div>
     <div class="modal-footer">
         <button class="btn btn-primary" type="button" ng-click="ok()">Entrar</button>
         <button class="btn btn-default" type="button" ng-click="cancel()">Cancelar</button>
     </div>